<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Saraivo 📚</title>

    <style>

    
    </style>
</head>
<body >
    <header style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 100px;">
        <h1 style="font-size: 40px; text-align: center; color: rgb(216, 216, 33);">Saraivo</h1> 

        <a href="/book/new">
            <button class="btnInsert">Novo Livro</button>
        </a>
    </header>

    <main>
        <div class="cardLivro" th:each = "book : ${books}">

            <div>
                <div style="display: flex; align-items: center;">
                    <h2 style="margin-right: 10px;">Título :</h2>
                    <p th:text="${book.title}"></p>
                </div>

                <div style="display: flex; align-items: center;">
                    <h2 style="margin-right: 10px;">Autor :</h2>
                    <p th:text="${book.autor}"></p>
                </div> 

                <div style="display: flex; align-items: center;">
                    <h2 style="margin-right: 10px;">Ano de Edição :</h2>
                    <p th:text="${book.launch}"></p>
                </div>

                <div style="display: flex; align-items: center;">
                    <h2 style="margin-right: 10px;">Editora :</h2>
                    <p th:text="${book.company}"></p> 
                </div>

                <div style="display: flex; align-items: center;">
                    <h2 style="margin-right: 10px;">Idioma :</h2>
                    <p th:text="${book.language}"></p>
                </div>

                <div style="display: flex; align-items: center;">
                    <h2 style="margin-right: 10px;" >Descrição :</h2>
                    <p th:text="${book.description}"></p>
                </div>
            </div>

                <div class="action">
                    <form th:action="@{'/book/{id}'(id=${book.id})}" th:method="delete">
                        <button class="btnDelete">Retirar</button>
                    </form>
                </div>
        </div>
    </main>
</body>
</html>