@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
	--dark-color: #1F1F1F;
	--active-color: #E23221;
	--primary-font: 'Pridi', serif;
	--font-color:  rgba(255,255,255,0.8);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {height:100%;}

body{
	background: var(--dark-color);
	font-family: var(--primary-font);
	text-decoration: none;
	color: var(--font-color);
	margin: 0 20px;	
	padding-top: 1rem;
}
main{
	display:grid;
	grid-template-columns:repeat(3, auto);
	justify-content: center;
}
.cardLivro{
	width: 400px;
	height: 400px;
	background:  #414141;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	color: #d3d1b9;
}
.btnDelete {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-top: 40px;
  }
  
  .btnDelete:hover {
	background-color: #E23221;
	box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }
  
  .btnDelete:active {
	transform: translateY(-1px);
  }
.action{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btnInsert {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-top: 40px;
  }
  
  .btnInsert:hover {
	background-color: rgb(216, 216, 33);
	box-shadow: 0px 15px 20px rgba(216, 216, 33, 0.541);
	color: #000;
	transform: translateY(-7px);
  }
  
  .btnInsert:active {
	transform: translateY(-1px);
  }
  .feed-form {
	margin-top: 36px;
	display: flex;
	flex-direction: column;
	width: 300px;
  }
  
  .feed-form input {
	height: 54px;
	border-radius: 5px;
	background: white;
	margin-bottom: 15px;
	border: none;
	padding: 0 20px;
	font-weight: 300;
	font-size: 14px;
	color: #4B4B4B;
  }
  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

  
